:root {
  --primary:  #192a56;
  --color: #dcdde1;
  --grayish: #2f3640;
  --gray: #353b48;
  --white: #f5f6fa;
  --primaryBtn: #40739e;
  --secondaryBtn: #487eb0;
  --todayPrimary: #4cd137;
  --secondaryToday: #44bd32;
  --done: #e84118;
  --doneSecondary: #c23616;
}
* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Arial, monospace;
  background-color: var(--primary);
  color: var(--color);
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [col-start].3fr [col-2]1fr [col-end]auto;
  grid-template-rows: [row-header]100px [row-1]1fr;
}

.header_wrapper {
  grid-column-start: col-start;
  grid-column-end: col-end;
  box-shadow: 0 2px 3px #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_wrapper h1 {
  font-size: 2rem;
  font-family: arial;
  position: relative;
}
.header_wrapper h1::after {
  content: '';
  background-color: var(--grayish);
  width: 50px;
  height: 10px;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.header_wrapper span {
  font-size: .9rem;
  letter-spacing: 2px;
  align-self: end;
  margin-bottom: 1rem;
}

.side_wrapper {
  color: var(--grayish);
  grid-column-start: col-start;
  grid-column-end: col-2;
  padding: 1rem;
  box-shadow: 4px 0 3px #f2f2f2;
  background-color: var(--white);
}

.side_wrapper .form {
  display: flex;
  flex-direction: column;
}

.side_wrapper .input {
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem;
  border: 2px solid var(--color);
  outline: none;
  border-radius: 5px;
  font-family: arial;
}

.side_wrapper div {
  align-self: end;
  margin: .5rem 0;
}

.side_wrapper .submitBtn{
  font-family: arial;
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  outline: none; 
  cursor: pointer;
  background-color: var(--primaryBtn);
  color: var(--white);
  border-radius: 10px;
}

.side_wrapper .submitBtn:hover{
  background-color: var(--secondaryBtn);
}

.main_wrapper {
  grid-column-start: col-2;
  grid-column-end: col-end;
  display: flex;
  overflow: hidden;
}

.errorEl {
  display: none;
  color: red;
}

.main_wrapper h2 {
  margin-bottom: 1rem;
  color: var(--white);
  text-transform: uppercase;
}

.today {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--white);
  flex: 1;
  background-color: var(--secondaryToday);
  color: var(--gray);
  overflow: auto;
}

.yesterday {
  padding: 1rem;
  flex: 1;
  border: 1px solid var(--white);
  background-color: var(--grayish);
  overflow: auto;
  color: var(--white);
}

.longAgo {
  padding: 1rem;
  flex: 1;
  border: 1px solid var(--white);
  background-color: var(--gray);
  overflow: auto;
  color: var(--white);
}

.done {
  padding: 1rem;
  flex: 1;
  border: 1px solid var(--white);
  background-color: var(--done);
  overflow: auto;
  color: var(--gray);
}
.done .drag{
  margin: .5rem 0;
}

.main_wrapper .high {
  margin-bottom: 1rem;
}


.main_wrapper .priority_title {
  font-weight: bold;
}

.main_wrapper .drag {
  cursor: move;
  background-color: #f2f2f2;
  margin: .5rem 0;
  border-radius: 10px;
  padding: .5rem;
  position: relative;
}

.main_wrapper .drag span, .main_wrapper .drag div {
  cursor: move;
  pointer-events: none;
}

.main_wrapper .drag span{
  font-size: .8rem;
}

.main_wrapper .drag div p{
  font-size: 1.2rem;
}

.main_wrapper .drag.dragging {
  opacity: 0.5;
}

/* delete style */
.main_wrapper .delete {
  text-decoration: none;
  color: var(--grayish);
  position: absolute;
  top: -5px;
  right: 0;
  border-radius: 50%;
  padding: .2rem .5rem;
  font-size: .8rem;
  color: var(--white);
  background-color: var(--done);
  border: 2px solid var(--white);
}

.main_wrapper .delete:hover {
  background-color: var(--doneSecondary);
}
